<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Netflix</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movie">Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
        {{!-- <form
            id="myForm"
            {{! action="http://localhost:8080/movie/search"
            method="GET" }}
            class="form-inline my-2 my-lg-0"
        > --}}
        <input
            id="content"
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
        />
        <button
            class="btn btn-outline-success my-2 my-sm-0"
            onclick="Search()"
        >Search</button>
        {{! </form> }}
    </div>
</nav>
<script>
    function Search(){ var content = document.getElementById("content").value;
    window.location.href="https://serverltmnc.onrender.com/movie/search/"+content;}
</script>