<div
    class="mt-4"
    style="
    margin: 20px;
"
>
    <div class="row">
        {{#each comments}}
            <div class="card" style="width: 20rem;">
                <img
                    class="card-img-top"
                    src={{this.backdrop_path}}
                    alt={{this.title}}
                />
                <div class="card-body">
                    <h5 class="card-title">{{this.original_title}}</h5>
                    <p class="card-text">{{this.overview}}</p>
                    <a href="#" class="btn btn-primary">Mua ve</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>