<div class="mt-4">
    <div class="row">
        {{#each comments}}
            <div class="card" style="width: 18rem;">
                <img
                    class="card-img-top"
                    src={{this.poster}}
                    alt={{this.title}}
                />
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.fullplot}}</p>
                    <a href="#" class="btn btn-primary">Mua ve</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>